@import "tailwindcss";
@plugin "daisyui";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  /* background: linear-gradient(135deg, #b8fba4, #e9c881, rgb(148, 232, 169), #9bbbf2); */
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
